<template name="cardsetImportForm">
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalTitle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <span class="modal-icon">
                        <i class="fa fa-archive"></i> <i class="fa fa-cloud-upload"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="importModalTitle" class="modal-title">{{_ "upload-form.upload-title"}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="importTypeGroup" class="col-xs-12 form-group btn-group" role="group" data-toggle="buttons">
                        <div class="col-xs-6 btn-bootstrap-container">
                            <label id="importType1"
                                   class="btn btn-block btn-default btn-raised import-type {{#if importType 1}}active{{/if}}"
                                   data-type="1">
                                {{#if importType 1}}
                                    <input type="radio" id="tabFocus" name="cardType" value="1" checked
                                           data-type="1">
                                {{else}}
                                    <input type="radio" name="cardType" value="1" data-type="1">
                                {{/if}}
                                <span class="flex-content" data-type="1">{{_ "upload-form.upload-type1"
                                                               lastAppTitle=(getLastAppTitle)}}</span>
                            </label>
                        </div>
                        <div class="col-xs-6 btn-bootstrap-container">
                            <label id="importType2"
                                   class="btn btn-block btn-default btn-raised import-type {{#if importType 2}}active{{/if}}"
                                   data-type="2" data-toggle="modal"
                                   data-target="#underDevelopmentModal">
                                {{#if importType 2}}
                                    <input type="radio" id="tabFocus" name="cardType" value="2" checked
                                           data-type="2">
                                {{else}}
                                    <input type="radio" name="cardType" value="2" data-type="2">
                                {{/if}}
                                <span class="flex-content" data-type="2">{{_ "upload-form.upload-type2"}}</span>
                            </label>
                        </div>
                    </div>
                    {{#if importType 1}}
                        <hr/>
                        <h4>{{_ "upload-form.upload-type"}}</h4>
                        <p>{{_ "upload-form.popover-content"}}</p>
                    {{/if}}
                </div>
                <div class="modal-footer">
                    {{#unless uploading}}
                        <button class="btn btn-success btn-file btn-raised pull-right">
                            {{_ "upload-form.select-file"}}<input type="file" accept=".json" name="uploadFile">
                        </button>
                        <button id="importCancel" class="btn btn-default btn-raised pull-left" data-dismiss="modal">{{_
                                "modal-dialog.cancel"}}</button>
                    {{else}}
                        <p><i class="fa fa-spin fa-refresh"></i>{{_ "upload-form.wait"}}</p>
                    {{/unless}}
                    <br>
                    <br>
                    <div id="uploadError"></div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
