<template name="cardSidebarItemBackToCardset">
        <span class="glyphicon glyphicon-log-out card-button cardHeaderItem backToCardset pressed"
              data-type="cardNavigation"
              title="{{_ "card.tooltip.backToCardset"}}"></span>
</template>
