<template name="cardSidebarToggle3D">
    {{#if got3DMode}}
        {{#if gotFeatureSupport 4}}
            <i class="card-button cardHeaderItem btn toggle3D fa fa-cube {{#if is3DActive}}pressed{{/if}}"
               data-type="cardNavigation" title="{{_ "card.tooltip.toggle3D"}}"></i>
        {{/if}}
    {{/if}}
</template>
